.picard-legend {
    margin-bottom: 1em;
}

.picard-legend span {
    margin-right: 1ex;
    white-space: nowrap;
}

.picard-legend .picard-legend-item {
    cursor: help;
}

.picard-legend .picard-legend-item:hover {
    text-decoration: underline;
}
