.picard-legend {
    margin-bottom: 1em;
}

.picard-legend .picard-legend-label,
.picard-legend .picard-legend-item {
    margin-right: 1ex;
    white-space: nowrap;
}

.picard-legend .picard-legend-item:hover {
    text-decoration: underline;
}

.picard-legend span.picard-legend-item {
    cursor: help;
}

.picard-legend a.picard-legend-item {
    cursor: pointer;
}
